<h1>New Article<h1>
<%= form_with model: @Article do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <%= @article.erros.full_message_for(:title).each do | message | %>
            <div><% message %></div>
        <%= end %>
    <div>

    <div>
        <%= form.label :body %><br>
        <%= form.text_area :body %><br>
        <%= @article.erros.full_message_for(:doby).each do | message | %><br>
            <div><%= message %></div>
        <%= end %>
    <div>

    <div>
        <%= form.submit %>
<% end %>